<h1>BITCHIN' YOUTUBE SHUFFLER</h1>

<p><b>Title:</b></p>
<%# @title %>
<br/><br/>

<p><b>Video Count:</b></p>
<%# @count %>
<br/><br/>

<p><b>Video Playing:</b></p>
<%# @video.title %>
<br/>
<p>Position:</p>
<%# @rand_vid.position %>
<p>ID:</p>
<iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="https://www.youtube.com/embed/<%= @video.id %>?autoplay=1"></iframe>