<header class="home-header">
    <div class="title">
        <i><b>BITCHIN'</b></i> YOUTUBE SHUFFLER
    </div>
    <div class="home-link">
        <%= link_to "Home", root_path %>
    </div>
</header>