<header class="home-header">
    <div class="title">
        <span>Youtube</span> 
        <span>Playlist</span> 
        <span>Shuffler</span>
    </div>
    <div class="home-link">
        <%= link_to "Home", root_path %>
    </div>
</header>