<header class="home-header">
    <div class="title">
        <i><b>AMAZING</b></i> 
        <span>YOUTUBE</span> 
        <span>SHUFFLER</span>
    </div>
    <div class="home-link">
        <%= link_to "Home", root_path %>
    </div>
</header>